

main{
  background-color: #eee;
}

main.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
  padding: 30px;
}

header {
  background-color: #eee;
  padding-top: 50px;
  /* padding: 50px; */
}

#search input {
  margin-top: 25px;
  width: 85%;
}

#search button {
  margin-bottom: 50px;
  width: 15%;
}

.col-results, .col-save {
  background-color: #eee;
  height: 55vh;

}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

main h2 {
  font-size: 15pt;
}