
body a.button, body button {
  border: solid 1.5px #666;
  padding: 3px 15px;
  color: #000;
  line-height: 1.25;
  font-size: 10pt;
}
a.button:hover, button:hover {
  text-decoration: none;
  background-color: #999;
  color: #fff;
}

main{
  background-color: #eee;
}

main.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
  padding: 30px;
}

header {
  background-color: #eee;
  padding-top: 50px;
  /* padding: 50px; */
}

#search input {
  margin-top: 25px;
  width: 85%;
  line-height: 1.25;
  font-size: 11pt;
}

#search button {
  margin-bottom: 50px;
  width: 15%;
}

.col-results, .col-save {
  background-color: #eee;
  min-height: 55vh;
  font-size: 10pt;
}

.col-results h2 {
  border-bottom: solid 1px #666;
  margin-bottom: 25px;
}

.col-results h3 {
  font-size: 14pt;
}

.col-results .result-div {
  border-bottom: solid 1px #666;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.result-div img {
  max-height: 140px;
}

#result-button {
  text-align: right;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

main h2 {
  font-size: 15pt;
}